@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .App {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
